<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.mapper.ECategoryMapper" >
  
  <select id="findAllCategory" resultType="com.bdqn.entity.ECategory">
  	SELECT c.*
	FROM e_category c,e_emp e
	WHERE c.create_id=e.id
	AND c.`status`='0'
	<choose>
		<when test="vo.isCharge==0">
			AND e.dept_id=#{vo.deptId}
		</when>
		<when test="vo.isCharge==1">
			AND c.create_id=#{vo.createId}
		</when>
	</choose>
  </select>
  
  <select id="findByCategoryName" resultType="int">
  	SELECT count(*) FROM e_category
	WHERE `status`=0 AND category_name =#{category.categoryName}
  </select>
  
  <select id="pageFind" resultType="com.bdqn.vo.ECategoryVo">
  	SELECT c.*,e.username FROM e_category c,e_emp e
	WHERE c.`status`=0 
	AND c.create_id = e.id
	<if test="svo.categoryName != null and svo.categoryName != ''">
		AND c.category_name LIKE CONCAT("%",#{svo.categoryName},"%")
	</if>
	<if test="svo.isCharge != 2">
		AND e.dept_id=#{svo.deptId}
	</if>
	LIMIT ${(currPage-1)*pageSize},#{pageSize}
  </select>
  
  <select id="pageFindCount" resultType="int">
  	SELECT count(*) FROM e_category c,e_emp e
	WHERE c.`status`=0
	AND c.create_id = e.id
	<if test="svo.categoryName != null and svo.categoryName != ''">
		AND c.category_name LIKE CONCAT("%",#{svo.categoryName},"%")
	</if>
	<if test="svo.isCharge != 2">
		AND e.dept_id=#{svo.deptId}
	</if>
  </select>



  <resultMap id="BaseResultMap" type="com.bdqn.entity.ECategory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_name, create_id, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from e_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from e_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bdqn.entity.ECategory" >
    insert into e_category (id, category_name, create_id, 
      status)
    values (#{id,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{createId,jdbcType=INTEGER}, 
      '0')
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.entity.ECategory" >
    insert into e_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.entity.ECategory" >
    update e_category
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.entity.ECategory" >
    update e_category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>