<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.mapper.EDeptMapper" >
  
  <select id="findAll" resultType="com.bdqn.entity.EDept">
  	SELECT * FROM e_dept 
  	WHERE `status`='0'
  	<if test="isCharge==0">
  		AND id=#{deptId}
  	</if>
	
  </select>
  
  <select id="checkName" resultType="int">
  	SELECT COUNT(*) FROM e_dept WHERE status='0' and `name`=#{name}
  </select>
  
  <select id="pageFind" resultType="com.bdqn.entity.EDept">
  	SELECT * FROM e_dept 
  	<where>
  		status='0'
  		<if test="dept.name != null and dept.name != ''">
  			AND `name` LIKE CONCAT("%",#{dept.name},"%")
  		</if>
  	</where>
  	LIMIT ${(currPage-1)*pageSize},#{pageSize}
  </select>
  
  <select id="pageFindCount" resultType="int">
  	SELECT count(*) FROM e_dept 
  	<where>
  		status='0'
  		<if test="dept.name != null and dept.name != ''">
  			AND `name` LIKE CONCAT("%",#{dept.name},"%")
  		</if>
  		
  	</where>
  </select>
  
  
  
  <resultMap id="BaseResultMap" type="com.bdqn.entity.EDept" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from e_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from e_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bdqn.entity.EDept" >
    insert into e_dept (id, name, status)
    values (null, #{name,jdbcType=VARCHAR}, '0')
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.entity.EDept" >
    insert into e_dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.entity.EDept" >
    update e_dept
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.entity.EDept" >
    update e_dept
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>