<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.mapper.ENewsMapper" >
  
  <select id="pageFind" resultType="com.bdqn.vo.ENewsVo">
  	SELECT n.*,c.category_name,e.username,d.`name` dept_name
	FROM e_news n,e_category c,e_emp e,e_dept d
	WHERE n.category_id = c.id
	AND n.create_id = e.id
	AND e.dept_id = d.id
	AND n.`status`='0'
	<if test="svo.title != null and svo.title != ''">
		AND n.title LIKE CONCAT("%",#{svo.title},"%")
	</if>
	<if test="svo.categoryName != null and svo.categoryName != ''">
		AND c.category_name LIKE CONCAT("%",#{svo.categoryName},"%")
	</if>
	<if test="svo.deptName != null and svo.deptName != ''">
		AND d.`name` LIKE CONCAT("%",#{svo.deptName},"%")
	</if>
	<choose>
		<when test="svo.isCharge==0">
				AND e.dept_id=#{svo.deptId}
		</when>
		<when test="svo.isCharge==1">
				AND e.id=#{svo.createId}
		</when>
	</choose>
	LIMIT ${(currPage-1)*pageSize},#{pageSize}
  </select>
  
  <select id="pageFindCount" resultType="int">
  	SELECT count(*)
	FROM e_news n,e_category c,e_emp e,e_dept d
	WHERE n.category_id = c.id
	AND n.create_id = e.id
	AND e.dept_id = d.id
	AND n.`status`='0'
	<if test="svo.title != null and svo.title != ''">
		AND n.title LIKE CONCAT("%",#{svo.title},"%")
	</if>
	<if test="svo.categoryName != null and svo.categoryName != ''">
		AND c.category_name LIKE CONCAT("%",#{svo.categoryName},"%")
	</if>
	<if test="svo.deptName != null and svo.deptName != ''">
		AND d.`name` LIKE CONCAT("%",#{svo.deptName},"%")
	</if>
  </select>
  
  
  
  
  <resultMap id="BaseResultMap" type="com.bdqn.entity.ENews" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, category_id, content, create_date, create_id, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from e_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from e_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bdqn.entity.ENews" >
    insert into e_news (id, title, category_id, 
      content, create_date, create_id, 
      status)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, now(), #{createId,jdbcType=INTEGER}, 
      '0')
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.entity.ENews" >
    insert into e_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.entity.ENews" >
    update e_news
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.entity.ENews" >
    update e_news
    set title = #{title,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>